.container {
  font-family: clock;
  margin-top: 3rem
}

#now {
  padding-top: 2rem;
}

.center {
  text-align: center;
}

body {
  background-color: #c9c9cb;
}

.container {
  background-color: white;
}

.f-20 {
  font-size: 20px;  
}

.form-data {
  width: 7rem;
}

.colon {
  margin-left: 2px;
  font-size: 2rem;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0 12.5rem;
}

.list-item {
  margin: 0 2rem;
  display: flex;
  padding-top: 4px;
  justify-content: space-around;
  align-items: center;
}

#set {
  background-color: green;
  color: white;
}

.delete {
  background-color: red;
  color: white;
}